h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 5em;
    line-height: 5em;
    background-color: aquamarine;
}